<section class="cataloge">
    <div class="container">
        <h3 class="cataloge__title">הדברת הקימחון | סדרת מוצרי אדמה מכתשים</h3>
        <div class="cataloge__item" dir="rtl">
            <div class="cataloge__content">
                <img src="img/b.png" alt="">
                <p class="cataloge__text">שם המוצר</p>
                <p class="cataloge__des">רשימת הגידולים המלאה </p>
                <a href="#"><p class="cataloge__inf">למוצר</p></a>
            </div>
            <div class="cataloge__content">
                <img src="img/b.png" alt="">
                <p class="cataloge__text">שם המוצר</p>
                <p class="cataloge__des">רשימת הגידולים המלאה </p>
                <a href="#"><p class="cataloge__inf">למוצר</p></a>
            </div>
            <div class="cataloge__content">
                <img src="img/b.png" alt="">
                <p class="cataloge__text">שם המוצר</p>
                <p class="cataloge__des">רשימת הגידולים המלאה </p>
                <a href="#"><p class="cataloge__inf">למוצר</p></a>
            </div>
            <div class="cataloge__content">
                <img src="img/b.png" alt="">
                <p class="cataloge__text">שם המוצר</p>
                <p class="cataloge__des">רשימת הגידולים המלאה </p>
                <a href="#"><p class="cataloge__inf">למוצר</p></a>
            </div>
            <div class="cataloge__content">
                <img src="img/b.png" alt="">
                <p class="cataloge__text">שם המוצר</p>
                <p class="cataloge__des">רשימת הגידולים המלאה </p>
                <a href="#"><p class="cataloge__inf">למוצר</p></a>
            </div>
        </div>
    </div>
</section>