<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__title">הדברת
                הקימחון
                המרושע</h1>
            <p class="hero__text">סדרת מוצרי אדמה מכתשים
                מבית סינג'נטה</p>
                <p class="hero__descr">
                    ככה תדביר אותו
                </p>
                <div class="hero__form">
                    <div class="hero__content">
                        <p class="hero__txt">להתייעצות עם
                          האגרונום שלנו</p>
                    </div>
                  </div>
        </div>
    </div>
</section>