<section class="info">
    <div class="container">
        <div class="info__options">
        <div class="info__inner">
            <h2 class="info__title" dir="auto">?מה הוא הקימחון</h2>
            <p class="info__text" dir="rtl">סימני הנגיעות בקמחונות מתגלים בפונדקאים בצורות שונות, בהתאם לסוגים השונים של הקמחונות ושלבי ההתפתחות של המחלה. בדרך כלל, נגיעות הצמחים נובעת מהתפתחות השלב האל-מיני, לעיתים הדרגה המינית נעדרת לגמרי, ובכל מקרה היא מופיעה בשלב גידול יותר מאוחר</p>
            <p class="info__descr" dir="rtl">העונה של הקימחון</p>
        </div>
        <div class="info__content">
            <div class="info__item">
                <img src="img/w.svg" alt="">
                <p class="info__desc">חורף</p>
            </div>
            <div class="info__item">
                <img src="img/w2.svg" alt="">
                <p class="info__desc">סתיו</p>
            </div>
            <div class="info__item">
                <img src="img/w3.svg" alt="">
                <p class="info__desc">קיץ</p>
            </div>
            <div class="info__item">
                <img src="img/w4.svg" alt="">
                <p class="info__desc">אביב</p>
            </div>
        </div>
        </div>
    </div>
</section>